.box{
    float: left;
    background-color: lightgrey;
    
    border:3px solid red;
    margin: 10px 20px 10px 0;
    width: 253px;
    height: 150px;
    box-sizing: border-box;
}

.box img{
    height:100%;
    width:100%;
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

.dialog{
    text-align: center;
    box-shadow: 0 8px 6px -6px red;
    position: static;
    width: 650px;
    height: 650px;
    vertical-align: middle;
    max-height: fit-content;
    margin-top: -115px;
}

.dialogImage{
    width: 80%;
}
.buttonNavigateLeft {
    position: absolute;
    top: 320px;
    left: 4px;
  }

  .buttonNavigateRight {
    position: absolute;
    top: 320px;
    right: 4px;
  }
  

/* .buttonNavigateLeft{
    position: initial;
} */
